@media screen and (max-width: 1920px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 1280px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
  .lang {flex-grow: 1!important;}
  .buttons[data-v-9a9f6144] {flex-grow: 2!important;}
  .container {width: 90%!important;}
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .lang {flex-grow: 1!important;}
  .buttons[data-v-9a9f6144] {flex-grow: 2!important;}
}
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .lang {flex-grow: 1!important;}
  .buttons {flex-grow: 2!important; flex-direction: column!important;}
  .button {margin: 1rem 0!important;}
}
@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .lang {flex-grow: 1!important;}
  .buttons {flex-grow: 2!important; flex-direction: column!important;}
  .button {margin: 1rem 0!important;}
}
@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
  .lang {flex-grow: 1!important;}
  .buttons{flex-grow: 2!important; flex-direction: column!important;}
  .buttons[data-v-9a9f6144]{align-items: center}
  .button {margin: 1rem 0!important;}
}
* {transition: .3s;}
