<template>
<main>
    <word :word="words[wordCount] || retryWords()" @next-word="nextWord"></word>
    <span>Текущий словарь: Description`s title ({{words.length}} слов)</span>
</main>
</template>

<script>
    import Word from "../components/Word";
    export default {
        name: "Home",
        data(){
            return {
                words: ['test', 'test1', 'test2'],
                wordCount: 0
            }
        },
        methods: {
            nextWord(){
                this.wordCount++
            },
            retryWords(){
                this.wordCount = 0
            }
        },
        components: {
            Word
        }
    }
</script>

<style scoped lang="scss">
span {
    margin: 2rem 0;
}
</style>
