<template>
    <div class="container">
        <the-header ></the-header>
        <component :is="currentView()"/>
    </div>
</template>

<script>
    import TheHeader from "./TheHeader";
    import Home from "../views/Home";
    import identification from "../identification.js"

    const routes = {
        '/': Home
    }
    export default {
        name: "App",
        data(){
            return {
                currentPath: window.location.hash,
            }
        },
        methods: {
            currentView(){
                return routes[this.currentPath.slice(1) || '/'] || ''
            }
        },
        mounted() {
            identification()
            window.addEventListener('hashchange', ()=>{
                this.currentPath = window.location.hash
            })
        },
        components: {
            TheHeader,
            Home
        }
    }
</script>

<style lang="scss">
    @import "./resources/css/adaptive.scss";

    body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom right, #ABD699, #75C9B7) no-repeat;
    }

    .container {
        width: 80%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        font: 400 1rem 'Montserrat', sans-serif;
    }

    header {
        flex-grow: 0;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        margin-top: 3rem;
    }
    //Buttons
      .button {
          width: 11rem;
          height: 3.5rem;
          font: 600 1.1rem 'Montserrat', sans-serif;
          color: #FFEFEF;
          border: none;
          border-radius: 2rem;
          background: linear-gradient(rgba(117, 201, 183, 100%), rgba(117, 201, 183, 0%));
          position: relative;
          -webkit-transform: translateZ(0px);
      }

    .button:after {
        content: '';
        width: 11rem;
        height: 3.5rem;
        border: none;
        border-radius: 2rem;
        background: rgba(117, 201, 183, 100%);
        transition: 0.4s ease;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    .button:hover:after {
        opacity: 0;
    }
</style>
