<template>
    <header>
        <div class="buttons">
            <button class="button">Выбрать словарь</button>
            <input type="file" id="load_dict" ref="dictPath" @change="loadFile">
            <button class="button">
                <label for="load_dict">Загрузить словарь</label>
            </button>
            <input type="file" id="load_images">
            <button class="button">
                <label for="load_images">Загрузить изображения</label>
            </button>
        </div>
        <div class="lang">
            <span class="lang__text">
                RUS->ENG
            </span>
            <label class="lang__switch">
                <input type="checkbox" v-model="checked" @change="changeLang">
                <div class="lang__slider"></div>
            </label>
        </div>
    </header>
</template>

<script>
    import getCSRF from "../getCSRF";

    export default {
        name: "TheHeader",
        data(){
            return {
                checked: false,
            }
        },
        methods: {
            changeLang(){
                this.checked ? this.rus = true : this.rus = false // rus - global variable
                alert(this.rus)
            },
            async loadFile(){
                let file = this.$refs.dictPath.files[0]
                let formData = new FormData()
                formData.append('file', file)
                let response = await fetch(
                    `http://127.0.0.1:8000/loadFile`,
                    {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRF-TOKEN': getCSRF()
                        }
                    }
                )
                console.log(await response.json())
            }
        }
    }
</script>

<style scoped lang="scss">
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; // >>>>>>.container
        min-height: 5rem;
    }

    .buttons {
        width: 60%; // >>>>>>header
        display: flex;
        flex-grow: 1;
        justify-content: space-between;

        input[type='file']{
            display: none;
        }
    }

    .lang {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 2;
        height: 3.5rem;

        &__text {
            font: 400 1.1rem 'Montserrat', sans-serif;
            color: #16123F;
            z-index: 100;
        }

        &__switch {
            .lang__slider {
                width: 4rem;
                height: 1.8rem;
                border-radius: 2rem;
                background-color: #BFD2CE;
                position: relative;
                display: inline-block;
                cursor: pointer;
                transition: 0.4s;
            }

            input {
                display: none;
            }

            .lang__slider:before {
                content: "";
                width: 1.8rem;
                height: 1.8rem;
                background-color: #F7EDEB;
                border-radius: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition: 0.4s;
            }

            input:checked + .lang__slider:before {
                left: 2.2rem;
                top: 0;
            }

            input:checked + .lang__slider {
                background-color: #75C9B7;
            }
        }
    }
</style>
