<template>
    <section>
        <div class="word">
            <span>{{word}}</span>
            <img src="https://images.pexels.com/photos/2486168/pexels-photo-2486168.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </div>
        <div class="buttons">
            <button class="button">Показать перевод</button>
            <button
                class="button"
                @click="$emit('nextWord')"
            >Следующее слово</button>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Word",
        emits: [
            'nextWord',
            'translate'
        ],
        props: {
            word: {
                type: String,
                required: true
            }
        }
    }
</script>

<style scoped lang="scss">
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 34rem;
    }

    .word {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 28rem;

        span {
            font: 600 2.2rem 'Montserrar', sans-serif;
            color: #FFEFEF;
            text-align: center;
        }
        img {
            height: 25rem;
        }
    }
    .buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
</style>
